.cards {
  display: flex;
  justify-content: center;
  cursor: pointer;

  .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      font-size: 14px;

      h2 {
        font-size: 18px;
        font-weight: 500;
        color: #555;
      }

      .prices {
        display: flex;
        gap: 5px;
        font-size: 14px;

        h3 {
          &:first-child {
            text-decoration: line-through;
          }

          &:last-child {
            text-align: right;
          }
        }
      }

      .image {
        width: 100%;
        height: 300px;
        overflow: hidden;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;

        }

        @media (max-width: 1024px) {
          height: auto;
        }
        @media (max-width: 768px) {
          height: auto;
        }
      }
    }
  }
}
